@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
}

div,
span,
button,
input,
textarea {
  list-style: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  color: white;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.bgc {
  background: linear-gradient(to right, #00074191, #000000);
}

.bgprofile {
  background-image: url(../../public/1.gif);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
  background-position: center;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
